@charset "UTF-8";
/*内容蓝色背景颜色*/
.page-formpage, .page-save {
  font-size: .7rem;
  color: #333; }
  .page-formpage label, .page-save label {
    display: inline-block;
    text-align: left;
    width: 5rem;
    position: relative; }
  .page-formpage .mustInput:before, .page-save .mustInput:before {
    position: absolute;
    content: '*';
    color: red;
    left: -.4rem;
    top: 3px;
    font-size: .7rem; }
  .page-formpage ul, .page-save ul {
    padding-bottom: 5rem;
    overflow: hidden;
    background: #fff; }
    .page-formpage ul li, .page-save ul li {
      height: 2rem;
      line-height: 2rem; }
      .page-formpage ul li input, .page-save ul li input {
        padding-left: 5px;
        width: 8rem;
        border: 1px solid #eee;
        height: 1.3rem;
        line-height: 1.3rem;
        border-radius: .1rem; }
    .page-formpage ul .wpp-pt-15, .page-save ul .wpp-pt-15 {
      padding-top: .3rem; }
    .page-formpage ul .wpp-pb-15, .page-save ul .wpp-pb-15 {
      padding-bottom: .3rem; }
